# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Freqtrade specific
# Ignore logs and downloaded data, but keep the directory structures
user_data/logs/*
!user_data/logs/.gitkeep

user_data/data/*
!user_data/data/.gitkeep

# Ignore Freqtrade SQLite databases (both real and dry-run)
user_data/*.sqlite
user_data/*.dryrun.sqlite
user_data/*.sqlite-journal
user_data/*.sqlite-shm
user_data/*.sqlite-wal

# Ignore backup files
user_data/*.json.bak

# If you later create a file just for API keys, make sure to ignore it:
secret*.json
# *config_private.json
# Backtest and Hyperopt results
user_data/backtest_results/
user_data/hyperopt_results/
